.container {
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h2 {
    font-size: 4rem;

}

form {
    max-width: 500px;
    margin: 0 auto;
}

form label {
    margin-bottom: 8px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #0066cc;
}